<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylesheet.css">

    <title>Communicator - Moderation</title>
  </head>

  <body>
    {{ include("nav_bar.html.twig") }}
    <div class="w3-panel">
      <h2><b>Announcements</b></h2>
      <h3><b>Moderation</b></h3>
      <p>{{ date }}</p>
    </div>
    <div class="w3-panel .dbtheme-purple">
      <table class="w3-table-all">
        <tr>
          <th>Subject</th>
          <th>Author</th>
          <th>User</th>
          <th>Category</th>
          <th>Text</th>
          <th>Approval</th>
          <th>File</th>
          <th></th>
        </tr>
        {% for row in announcement %} {# simple loop to output rows #}
          <tr>
            <td>{{ row.subject }}</td>
            <td>{{ row.author }}</td>
            <td>{{ row.user.username }}</td>
            <td>{{ row.category.name }}</td>
            <td>{{ row.text }}</td>
            <td>{{ row.approval }}</td>
            <td>{% if row.filename is defined and row.filename is not null %}<a href="{{ vich_uploader_asset(row, 'announcementFile',  'App\\Entity\\Announcement') }}" class="w3-button w3-ripple w3-border myOnbutton" target="_blank" rel="noopener noreferrer">View File</a>{% endif %}</td>
            <td><a href="{{ path('toggle_announcement_approval',{ id: row.id }) }}" class="w3-button w3-ripple w3-border myOnbutton">Toggle Approval</a><a href="{{ path('modify_announcement',{ id: row.id }) }}" class="w3-button w3-ripple w3-border myOnbutton">Modify</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>


</html>