<html>

  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

    <title>Communicator - Add Announcement</title>
  </head>

  <body>
    {{ include("nav_bar.html.twig") }}
    <div class="w3-container">
      <h2><b>Submit New Announcement</b></h2>
      <p>{{ date }}</p>
    </div>
    <div class="w3-container" style="width:80%">
      {{ form_start(ann_form) }}
        <p>
          {{ form_row(ann_form.subject, { 'attr': {'class': 'w3-input w3-border'} }) }}
        </p>
          {{ form_row(ann_form.author, { 'attr': {'class': 'w3-input w3-border'} }) }}
        </p>
        <p>
          {{ form_row(ann_form.category, { 'attr': {'class': 'w3-select w3-border'} }) }} 
        </p>
        <p>
          {{ form_row(ann_form.text, { 'attr': {'class': 'w3-input w3-border'} }) }}  
        </p>
        <p>
          <div class="w3-row w3-half">
            {{ form_label(ann_form.start_date, "Start Date") }}
            <br>
            <div class="w3-third">{{ form_widget(ann_form.start_date, { 'id': 'start', 'name': 'start', 'attr': { 'class': 'w3-input w3-border' } }) }}</div>
          </div>
        </p>
        <br>
        <br>
        <br>
        <button id="end_date_button" onclick="toggle_end_date()" class="w3-button w3-border">Set End Date</button>
        <div id="end_date" hidden>
          <p>
            <div class="w3-row w3-half">
              {{ form_label(ann_form.end_date, "End Date") }}
              <br>
              <div class="w3-third">{{ form_widget(ann_form.end_date, { 'id': 'end', 'name': 'end', 'attr': { 'class': 'w3-input w3-border' } }) }}</div>
            </div>
          </p>
        </div>
        <br>
        <br>
        <br>
        <br>

          {{ form_row(ann_form.announcementFile) }}
        </p>
        <p>
          {{ form_row(ann_form.submit, { 'attr': {'class': 'w3-button w3-border', 'label': 'Submit'} }) }}
        </p>
        {{ form_end(ann_form) }}
    </div>

  </body>

</html>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
  $( function() {
    var dateFormat = "mm/dd/yy";
      start = $( "#start" )
        .datepicker({
          defaultDate: "+1d",
          changeMonth: true,
          changeYear: true,
          minDate: 0,
          maxDate: "+12M",
        })
        .on( "change", function() {
          end.datepicker( "option", "minDate", getDate( this ) );
          end.datepicker( "option", "maxDate",  getPlusDate( this ) );
        });
      end = $( "#end" )
        .datepicker({
          defaultDate: "+1d",
          changeMonth: true,
          changeYear:true,
          numberofYears: 1,
          minDate: 0,
        })
        .on( "change", function() {
          start.datepicker( "option", "maxDate", getDate( this ) );
        });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }

      return date;
    }

    function getPlusDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
        date.setDate(date.getDate() + 4);
      } catch( error ) {
        date = null;
      }

      return date;
    }

  } );

</script>

<script>
  function toggle_end_date() {
     var end_date_input = document.getElementById("end_date");
     end_date.hidden = !end_date.hidden;
  }
</script>
