<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylesheet.css">

    <title>Communicator - Overview</title>
  </head>

  <body>
    <div class="w3-panel">
      <h2><b>{{ announcement|length }} New Announcement{% if announcement|length > 1 or announcement|length == 0 %}s{% endif %}</b></h2>
      <h3><b>Overview</b></h3>
      <p>{{ date }}</p>
    </div>
    <div class="w3-panel .dbtheme-purple">
      <table class="w3-table-all">
        <tr>
          <th>Subject</th>
          <th>Author</th>
          <th>User</th>
          <th>Category</th>
          <th>Text</th>
          <th>File</th>
        </tr>
        {% for row in announcement %} {# simple loop to output rows #}
          <tr>
            <td>{{ row.subject }}</td>
            <td>{{ row.author }}</td>
            <td>{{ row.user.username }}</td>
            <td>{{ row.category.name }}</td>
            <td>{{ row.text }}</td>
            <td><a href="{{ asset('uploads/files/' ~ announcement.filename) }}">View File</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>



</html>

