<html>
  <head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="stylesheet.css">

    <title>Communicator - Overview</title>
  </head>

  <body>
    <div class="w3-panel">
      <div class="dbtheme-purple">
        <button class="w3-bar-item w3-button">Overview</button>
        <button class="w3-bar-item w3-button">Add Announcement</button>
        <button class="w3-bar-item w3-button">My Announcements</button>
      </div>
      <h3>{{ announcement|length }} New Announcements</h3>
      <p>{{ date.weekday }}, {{ [date.month, date.mday]|join(' ') }}, {{ date.year }}</p>
    </div>
    <div class="w3-panel .dbtheme-purple">
      <table class="w3-table-all">
        <tr>
          <th>ID</th>
          <th>Subject</th>
          <th>Author</th>
          <th>User</th>
          <th>Text</th>
          <th>Date</th>
        </tr>
        {% for row in announcement %} {# simple loop to output rows #}
          <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.subject }}</td>
            <td>{{ row.author }}</td>
            <td>{{ row.user.username }}</td>
            <td>{{ row.text }}</td>
            <td>{{ row.date|date("Y-m-d") }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </body>


</html>